/*@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);*/
@font-face {
    font-family: "BurbankBigCondensedBlack";
    src: url(https://www.fontyukle.net/en/Burbank+Big+Condensed+Black.ttf) format("truetype");
}

/*@font-face {
    font-family: BurbankBigCondensedBlack;
    font-weight: bold;
    src: url("path/GraublauWebBold.otf") format("opentype");
}*/

* {
    font-family: BurbankBigCondensedBlack;
}
        
#mainContainer{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
#mainContainer h1{
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

.logoutWrapper {
  text-align: center;
}


body, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

button{
  display: block;
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 10px auto;
  font-weight: 700;
  color: #fff;
  background-color: #22c08a;
  border: none;
  border-radius: 20px;
  transition: background-color .10s ease-in-out;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  text-align: center;
}

button:hover {
  background-color: #26d69a;
}

button:active {
  background-color: #1eaa7a;
}

body{
  padding: 1px 0;
  height: 100%;
  width: 100%;
/*  background-image: url("https://cdn.vox-cdn.com/thumbor/0Tpsa_4uzQRxE-_Dg0MgKTrVCfg=/0x0:1619x897/1820x1213/filters:focal(681x320:939x578):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/59177933/battleroyaleactu.0.jpg");*/
  background-image: url("mainimg.jpg");
  background-size: cover;
  color: #fff;
}


/*References: https://freshdesignweb.com/css-login-form-templates/
