@font-face {
    font-family: 'Burbank';
    src: url('BurbankBigCondensed-Black.ttf') format('truetype');
}

* {
	font-family: 'Burbank';
}

body{
  height: 100%;
  width: 100%;
  background-image: url("mainimg.jpg");
  background-size: cover;
  color: #fff;
}

