
	html, body{
		
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(grey, white);
	overflow-y: hidden;
	}


.navbar {
  background-color: green;
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #edff51;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #edff51;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #edff51;
  background-color: limegreen;
}
.navbar .navbar-toggle {
  border-color: #2762c1;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2762c1;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #edff51;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edff51;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edff51;
    background-color: #2762c1;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edff51;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edff51;
    background-color: #2762c1;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edff51;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edff51;
    background-color: #2762c1;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edff51;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edff51;
    background-color: #2762c1;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #edff51;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #edff51;
  background-color: #2762c1;
}






.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .05rem;
  background-color: green;
  text-align: center;
  display: inline-block;
}

#phrase{
	color: white;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size: 20px;
	
}
.container{
	position: fixed;
	top: 10%;
	left: .5%;
	margin: 0 auto;
		
}


.log_admin{
	position: relative;
	display: inline-block;
	
}




#push{
	color: antiquewhite;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

.container{
	
	float: left;
	margin-left: 3%;
	margin-bottom: .5em;
	
}

#wrapper { 
    width: 98%; 
    height: 600px; 
    margin: 0 auto; 
	border:10px groove ;
	border-color: green;
	border-radius: 10px;
} 
#myCarousel{ 

    float: left; 
    margin-left: 5%;
    margin-top: 2%;
	 box-shadow: 10px 10px 5px grey;
} 

#video_div{ 
	
    margin-top: .5%;
	margin-right:  3%;
	text-align: center;
	float: right;
	box-shadow: 10px 10px 5px grey;


}

.clear{
    clear: both;
}